.second-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-size: cover;
    background-color: #FDFDFD;
}
.page-progress{
    max-width: 90%;
    height: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 4px;
}
.progress2{
    background-color: #1DA081;
    height: 3px;
    width: 20%;
    border:none ;
    border-left: solid 1px #E6E6E6;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.no-progress2{
    background-color: #E6E6E6;
    position: relative;
    width: 80%;
    height: 3px;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.second-page-content{
    margin-top: 40px;
    font-family: "Gill Sans", sans-serif;
    text-align: center;
}
.second-page-title{
    font-size: 40px;
    color: black;
}
.second-page-description{
    color: #777777;
    font-size: 20px;
    font-weight: 400;
}
.second-page-profile-list{
    list-style: none;
}
.continue-btn{
    background-color: #000000;
    padding: 10px;
    width: 150px;
    text-align: center;
    height: 80px;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 400;
    color: #FFFFFF;
    align-self: center;
}
.clicked-btn{
    background-color: #E5E5E5;
}
@media screen and (max-width: 412px){
    .second-page-container{
        padding: 10px;
    }
    .second-page-content{
        margin-top: 20px;
    }
    .second-page-title{
        font-size: 28px;
    }
    .second-page-description{
        font-size: 16px;
    }
    .second-page-profile-list{
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .continue-btn{
        width: 100px;
        height: 50px;
    }
}