.fifth-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-size: cover;
    background-color: #FDFDFD;
}
.page-progress{
    width: 90%;
    height: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 8px;
}
.progress5{
    background-color: #1DA081;
    height: 5px;
    width: 100%;
    border: none;
    border-left: solid 1px #E6E6E6;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.no-progress5{
    background-color: #E6E6E6;
    position: relative;
    width: 0%;
    height: 5px;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    
}
.fifth-page-content{
    padding: 8px;
    width: 80%;
    margin-top: 80px;
    display: flex;
    position: relative;
    top: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.fifth-page-main-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    margin: 30px 0px 30px 0px;
}
.card-title{
    color: #1E1E1E;
    font-size: 40px;
    font-weight: 700;
}
.card-paragraph{
    color: #606060;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
}
.fifth-page-image{
    width: 30%;
    height: 70%;
}
.card-rating-image{
    width: 70%;
    height: 110px;
}
.continue-btn{
    background-color: #000000;
    padding: 10px;
    width: 150px;
    text-align: center;
    height: 80px;
    margin-top: 50px;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 400;
    color: #FFFFFF;
    align-self: center;
}
.clicked-btn{
    background-color: #E5E5E5;
}
@media screen and (max-width: 412px){
    .fifth-page-content{
        width: 100%;
        margin-top: 40px;
    }
    .fifth-page-main-content{
        flex-direction: column;
        margin: 0px;
        align-items: center;
        text-align: center;
        margin-top: 10px;
    }
    .card-title{
        color: #1E1E1E;
        font-size: 40px;
        font-weight: 700;
    }
    .card-paragraph{
        color: #606060;
        font-size: 22px;
        font-style: italic;
        font-weight: 400;
    }
    .fifth-page-image{
        width: 30%;
        height: 70%;
    }
    .card-rating-image{
        width: 70%;
        height: 110px;
    }
    .continue-btn{
        width: 150px;
        height: 50px;
        margin-top: 20px;
        border-radius: 8px;
    }
}