
.profile-icon{
    width: 30px;
    height: 30px;
    margin-left: 8px;
}
.profile-status{
    color: #000000;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 400;
    padding-right: 8px;
    margin-left: 10px;
}
.profile-additional-status{
    color: #777777;
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 400;
}
.profile-list-item-btn{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: solid 2px #EDEDED;
    background-color: #FFFFFF;
    margin: 15px 0px 15px 0px;
    box-shadow: 2px 2px 2px 2px  #F8F9F8;
}
.clicked{
    border: solid 2px gold;
    box-shadow: 6px 6px 6px 6px #777777;
}