.fourth-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-size: cover;
    background-color: #FDFDFD;
}
.page-progress{
    width: 90%;
    height: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 8px;
}
.progress4{
    background-color: #1DA081;
    height: 5px;
    width: 45%;
    border: none;
    border-left: solid 1px #E6E6E6;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.no-progress4{
    background-color: #E6E6E6;
    position: relative;
    width: 55%;
    height: 5px;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    
}
.fourth-page-content{
    margin-top: 60px;
    justify-self: center;
    text-align: center;
    font-family: "Gill Sans", sans-serif;
}
.fourth-page-title{
    color: black;
    font-size: 36px;
    font-weight: 700;
}
.fourth-page-description{
    color: #464646;
    font-size: 20px;
    font-weight: 400;
}
.fourth-page-level-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 100%;
    margin-top: 30px;
}
.continue-btn{
    background-color: #000000;
    padding: 10px;
    width: 150px;
    text-align: center;
    height: 80px;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 400;
    color: #FFFFFF;
    align-self: center;
}
.clicked-btn{
    background-color: #E5E5E5;
}